@font-face{
    font-family: 'times-new-roman-bold';
    font-style: normal;
    vertical-align: middle;
    src: url('https://raw.githubusercontent.com/weberon/fonts-in-weberon/master/all_fonts/times-new-roman-bold.otf');
}
@font-face{
    font-family: 'times-new-roman-italic';
    font-style: normal;
    vertical-align: middle;
    src: url('https://raw.githubusercontent.com/weberon/fonts-in-weberon/master/all_fonts/times-new-roman-italic.ttf');
}
@font-face{
    font-family: 'arialBoldItalic';
    font-style: normal;
    vertical-align: middle;
    src: url('https://raw.githubusercontent.com/weberon/fonts-in-weberon/master/all_fonts/arialbi.ttf');
}
@font-face{
    font-family: 'times-new-roman';
    font-style: normal;
    vertical-align: middle;
    src: url('https://raw.githubusercontent.com/weberon/fonts-in-weberon/master/all_fonts/times-new-roman.ttf');
}
@font-face{
    font-family: 'arial';
    font-style: normal;
    vertical-align: middle;
    src: url('https://raw.githubusercontent.com/weberon/fonts-in-weberon/master/all_fonts/arial.ttf');
} 
body{
    margin: 0;
    padding: 0;
}
p{
    text-indent: 30px;
    margin: 0;
}
.a4parent{
    justify-content: center;
}  
.page{
    display: flex;
    flex-direction: column;
    min-height: 11in;
    width: 8.5in;
    justify-content: space-between;
    border: 1px solid;
}  
.image{
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
#page1BodyLeftText1>a{
    text-decoration: none;
    color: #fff;
}
.para{
    display: block;
    margin-top: 1.2rem;
}
.accessMyMessage{
    animation: messageBlink 5s infinite;
}
@keyframes messageBlink{
    0%{background-color: royalblue;}
    35%{background-color: green;}
    70%{background-color: maroon;}
}