@font-face {
    font-family: 'arialBoldItalic';
    font-style: normal;
    vertical-align: middle;
    src: url('https://raw.githubusercontent.com/weberon/fonts-in-weberon/master/all_fonts/arialbi.ttf');
}
@font-face {
    font-family: 'times-new-roman-bold-italic';
    font-style: normal;
    vertical-align: middle;
    src: url("https://raw.githubusercontent.com/weberon/fonts-in-weberon/master/all_fonts/times-new-roman-bold-italic-2.ttf")
}
@font-face {
    font-family: 'times-new-roman-italic';
    font-style: normal;
    vertical-align: middle;
    src: url("https://raw.githubusercontent.com/weberon/fonts-in-weberon/master/all_fonts/times-new-roman-italic.ttf")
}
@font-face{
    font-family: 'times-new-roman-bold';
    font-style: normal;
    vertical-align: middle;
    src: url('https://raw.githubusercontent.com/weberon/fonts-in-weberon/master/all_fonts/times-new-roman-bold.otf');
}
@font-face{
    font-family: 'times-new-roman';
    font-style: normal;
    vertical-align: middle;
    src: url('https://raw.githubusercontent.com/weberon/fonts-in-weberon/master/all_fonts/times-new-roman.ttf');
}
@font-face{
    font-family: 'ink free';
    font-style: normal;
    vertical-align: middle;
    src: url('https://raw.githubusercontent.com/weberon/fonts-in-weberon/master/all_fonts/Inkfree.ttf');
}
body{
    margin: 0;
    padding: 0;
}
p{
    text-indent: 30px;
    margin: 0;
}
.a4parent{
    justify-content: center;
}
  
.page{
    display: flex;
    flex-direction: column;
    min-height: 11in;
    width: 8.5in;
    border: 1px solid black;
    gap: 0.5rem;
}
.page1Header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.image{
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 2;
}
.column{
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 2px solid #000;
    padding: 0.3rem;
    flex: 1 0 auto;
}
.p1bSection2Text2{
    -webkit-columns: 3;
}
#section3LeftText>ol{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding-right: 0.4rem;
}
#section3RightText>ol{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding-right: 0.4rem;
}